.header
    background-color: aqua
    &-contacts
        display: flex
        justify-content: flex-end
        align-items: center
        &__phone
            font-size: 22px
            margin-right: 13px

ul
    list-style: none
    li
        &::before
            content: ""
            display: inline-block
            width: 8px
            height: 8px
            background-color: purple
            border-radius: 50%
            vertical-align: middle
            margin-right: 10px