.header
    padding: 65px 0 15px
    background-color: $bg-color-light
    &-contacts
        display: flex
        justify-content: flex-end
        align-items: center
        &__phone
            font-size: 22px
            margin-right: 13px
            &:first-child
                border-right: 1px solid #cfcfd0
                padding-right: 13px

@keyframes move
    0%
        opacity: 0
        margin-bottom: -100px
    100%
        opacity: 1
        margin-bottom: 0
.animate
    animation-name: move
    animation-delay: 0.5s
    animation-duration: 1s
    animation-fill-mode: forwards
