body {
  font-family: Roboto,sans-serif;
  background-color: #48bd6f5d;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

button:focus,
input:focus {
  outline: 0;
}

.section-title {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 39px;
}

.section-title::after {
  margin-top: 12px;
  content: "";
  display: block;
  height: 6px;
  background: url("../../../../../../../my-project/src/img/production/line.png") center no-repeat;
}

.button {
  background-color: #ff9d00;
  color: #fff;
  font-size: 14px;
  border: 1px solid transparent;
  padding: 13px 22px;
  border-radius: 5px;
}

.button-o {
  background-color: transparent;
  color: #373737;
  border: 1px solid rgba(55,55,55,.5);
}

.button-o:hover {
  color: #fff;
  background-color: #ffa71a;
  border: 1px solid transparent;
  cursor: pointer;
}

.button img {
  vertical-align: middle;
}

.button:hover {
  background-color: #ffa71a;
  cursor: pointer;
}

.button:active {
  background-color: #fff;
  color: #373737;
  border: 1px solid transparent;
}

.header {
  padding: 15px 0;
  background-color: #f4f4f4;
}

.header-contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-contacts__phone {
  font-size: 22px;
  margin-right: 13px;
}

.header-contacts__phone:first-child {
  border-right: 1px solid #cfcfd0;
  padding-right: 13px;
}

@-webkit-keyframes move {
  0% {
    opacity: 0;
    margin-bottom: -100px;
  }

  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes move {
  0% {
    opacity: 0;
    margin-bottom: -100px;
  }

  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

.animate {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.main {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url("../../img/main/mainbg.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 1;
}

.main::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: -1;
}

.main-img {
  position: relative;
}

.main-img::before {
  content: "";
  position: absolute;
  width: 390px;
  height: 390px;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: -2;
  left: 50%;
  margin-left: -195px;
}

.main-text__title {
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 20px;
}

.main-text__subtitle {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 300;
}

.main-text__form {
  padding: 30px 27px;
  background-color: rgba(255,255,255,.2);
}

.form {
  margin-bottom: 12px;
}

.form-title {
  padding-right: 87px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 20px;
}

.form-title__important {
  font-weight: 700;
  text-transform: uppercase;
}

.form__input {
  border-radius: 4px;
  border: none;
  padding: 20px 130px 20px 20px;
  margin-right: 10px;
  vertical-align: middle;
  flex-basis: 50%;
}

.form .button {
  height: 56px;
  vertical-align: middle;
}

.form_small {
  font-size: 14px;
  font-weight: 300;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0,0,0,.4);
}

.popup {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 752px;
}

.popup-close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-size: 35px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}

.popup-title {
  display: block;
  width: 100%;
  height: 71px;
  margin: 0;
  background-color: #ff9d00;
  color: #fff;
  text-transform: uppercase;
  line-height: 71px;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
}

.popup-form {
  background: url("../../img/modal/popup-form__bg.png") center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #fff;
}

.popup-form-header {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.popup-form-header span {
  font-size: 24px;
}

.popup-form__label {
  display: block;
  margin-top: 32px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.popup-form__input {
  margin-top: 17px;
  width: 365px;
  height: 56px;
  border-radius: 4px;
  border: none;
}

.popup-form__btn {
  width: 180px;
  height: 56px;
  margin-left: 16px;
  line-height: 22px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.popup-form__note {
  margin-top: 9px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}

.features {
  background-color: #f4f4f4;
  padding-top: 49px;
  padding-bottom: 55px;
}

.features-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-block {
  display: flex;
  flex-basis: 30%;
  align-items: center;
  padding: 25px 15px;
  color: #373737;
  background-color: #fff;
  margin-bottom: 30px;
}

.features-block__img {
  min-width: 50px;
  margin-right: 10px;
}

.features-block__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.features-block__descr {
  font-size: 14px;
  font-weight: 400;
}

.numbers {
  text-align: center;
  margin-bottom: 37px;
}

.numbers-block {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.numbers-block__title {
  color: #ff9d00;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 10px;
}

.numbers-block__title sup {
  font-size: 16px;
}

.numbers-block__text {
  color: #373737;
  font-size: 16px;
  font-weight: 300;
}

.products {
  padding-top: 57px;
  padding-bottom: 73px;
}

.products-block {
  text-align: center;
  margin-bottom: 35px;
}

.products-block__img {
  margin-bottom: 19px;
}

.products-block__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.products-block__button {
  margin-right: 12px;
}