body {
  font-family: Roboto,sans-serif;
  background-color: #48bd6f5d;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

button:focus,
input:focus {
  outline: 0;
}

.button {
  background-color: #ff9d00;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
}

.button img {
  vertical-align: middle;
}

.button:hover {
  background-color: #ffa71a;
  cursor: pointer;
}

.button:active {
  background-color: #fff;
  color: #373737;
  border: none;
}

.header {
  padding: 15px 0;
  background-color: #0ff;
}

.header-contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-contacts__phone {
  font-size: 22px;
  margin-right: 13px;
}

.header-contacts__phone:first-child {
  border-right: 1px solid #cfcfd0;
  padding-right: 13px;
}

.main {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url("../../img/main/mainbg.jpg") center no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 1;
}

.main::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: -1;
}

.main-img {
  position: relative;
}

.main-img::before {
  content: "";
  position: absolute;
  width: 390px;
  height: 390px;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: -2;
  left: 50%;
  margin-left: -195px;
}

.main-text__title {
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 20px;
}

.main-text__subtitle {
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 300;
}

.main-text__form {
  padding: 30px 27px;
  background-color: rgba(255,255,255,.2);
}

.form {
  margin-bottom: 12px;
}

.form-title {
  padding-right: 87px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 20px;
}

.form-title__important {
  font-weight: 700;
  text-transform: uppercase;
}

.form__input {
  border-radius: 4px;
  border: none;
  padding: 20px 130px 20px 20px;
  margin-right: 10px;
  vertical-align: middle;
  flex-basis: 50%;
}

.form .button {
  height: 56px;
  vertical-align: middle;
}

.form_small {
  font-size: 14px;
  font-weight: 300;
}